@model TopUkrainianIllustrators.Models.Illustrators


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
   
}


<h1>@Model.Name</h1>
<h2>From: @Model.From</h2>
<h2>Alma mater: @Model.AlmaMater</h2>
<h2>Magnum opus:</h2>
<div>@Html.Raw(Model.MagnumOpusHtml)</div>
