@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Top Ukrainian Illustrators";
   
}


<h1>@ViewBag.Name</h1>
<h2>From: @ViewBag.From</h2>
<h2>Alma mater: @ViewBag.AlmaMater</h2>
<h2>Magnum opus:</h2>
<div>@Html.Raw(ViewBag.MagnumOpus)</div>
